<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coming Soon</title>
  
</head>
<style>
    body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("https://i.ibb.co/26KHjS9/KIIT.jpg"); 
  background-size: cover; 
    background-position: center; 
  font-family: sans-serif; 
}

  .background { 
    height: 100vh; 
    display: flex;
  justify-content: center;
  }
  
  h1 {
    color: rgb(10, 10, 10); 
    font-size: 5rem; 
    text-align: center;
  }
</style>
<body>
    <header>
        <h1 text-align: center;>Coming Soon</h1>
    </header>
  <div class="background"></div>
  
</body>
</html>